* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 800px;
}

#root {
  display: flex;
  justify-content: center;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px teal solid;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  margin-right: 0.5rem;
}

.post-enter {
  transform: translateX(350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.error-block {
  margin-top: 30px;
  margin-bottom: 30px;
}

.error-block-header {
  text-align: center;
}

.error-block-message {
  text-align: center;
  margin-top: 20px;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: solid teal 1px;
  cursor: pointer;
}

.page__current {
  border: 3px orange solid;
  font-weight: bold;
}
